@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240 10% 4%;
  --foreground: 0 0% 98%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: Arial, Helvetica, sans-serif;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
